@import 'library/reset';

@import 'variables';

* {
    margin: 0;
    padding: 0;
}

a, a:hover {
    color: #000;
    text-decoration: none;
}

li {
    list-style: none;
}

@font-face {
  font-family: 'Glyphicons Halflings';
  src: url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1);
  src: url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.eot?f4769f9bdb7466be65088239c12046d1?#iefix) format("embedded-opentype"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.woff2?448c34a56d699c29117adc64c43affeb) format("woff2"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.woff?fa2772327f55d8198301fdb8bcfc8158) format("woff"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.ttf?e18bbf611f2a2e43afc071aa2f4e1512) format("truetype"), url(/fonts/vendor/bootstrap-sass/bootstrap/glyphicons-halflings-regular.svg?89889688147bd7575d6327160d64e760#glyphicons_halflingsregular) format("svg");
}

@font-face{
    font-family:tm-list-m-font;
    src:url('//at.alicdn.com/t/font_1437536790_4325573.ttf') format('truetype'),url('//at.alicdn.com/t/font_1437536790_4325573.svg#iconfont') format('svg');
}

@font-face{
    font-family:tm-shop-m-iconfont;
    src:url('//at.alicdn.com/t/font_1444445527_4098153.eot');
    src:url('//at.alicdn.com/t/font_1444445527_4098153.eot?#iefix') format('embedded-opentype'),url('//at.alicdn.com/t/font_1444445527_4098153.woff') format('woff'),url('//at.alicdn.com/t/font_1444445527_4098153.ttf') format('truetype'),url('//at.alicdn.com/t/font_1444445527_4098153.svg#iconfont') format('svg')}